verilog/clockInfo.txt
verilog/main.bit
verilog/.Xil/
verilog/util.txt
verilog/io.txt
verilog/timing.txt
verilog/method.txt
verilog/test.dcp
verilog/main.mcs
verilog/main.bin
verilog/main.prm
verilog/tight_setup_hold_pins.txt

assembly/program.bin
assembly/program.elf
assembly/program.hex
assembly/program.mem
assembly/program.o

c/main.o
c/start.o
c/program.bin
c/program.elf
c/program.hex

riscv-arch-test/

ice/
