verilog/clockInfo.txt
verilog/main.bit
verilog/.Xil/
verilog/utilization.rpt
verilog/timing_summary.rpt
verilog/util.txt
verilog/io.txt
verilog/timing.txt
verilog/method.txt
verilog/test.dcp
verilog/main.mcs
verilog/main.bin
verilog/main.prm


c/main.o
c/program.bin
c/program.elf
c/program.hex
