verilog/clockInfo.txt
verilog/main.bit
verilog/.Xil/
verilog/utilization.rpt
verilog/timing_summary.rpt
verilog/util.txt
verilog/io.txt
verilog/timing.txt
verilog/method.txt
verilog/test.dcp
verilog/main.mcs
verilog/main.bin
verilog/main.prm

assembly/program.bin
assembly/program.elf
assembly/program.hex
assembly/program.mem
assembly/program.o

c/main.o
c/program.bin
c/program.elf
c/program.hex

riscv-arch-test/

ice/
